* {
  font-family: 'Inter', sans-serif;
  vertical-align: baseline;
}
section:first-of-type {
  height: 70vh;
  min-height: 400px;
}
.main-title {
  max-width: 24rem;
  font-size: 3.25rem !important;
}
.main-subtitle {
  max-width: 34rem;
  font-size: 1.5rem;
}
.blue-line {
  transform: translateX(-11px);
}
.medium-logo{
  transform: translateX(-30px);
}
.second-subtitle {
  max-width: 10em;
  font-size: 2rem;
}
.first-card:hover > img {
  transform: scale(1.025);
}
.first-card:hover p {
  color: grey;
}

.first-card:hover > img,
.first-card:hover > p {
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  z-index: 10;
}
@media (max-width: 1022px) {
  .first-card:nth-child(3), .second-card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  section.row.container-fluid {
    margin: auto;
  }
  .first-card:nth-child(2),.second-card:nth-child(2) {
    margin: inherit !important;
  }
}
